--extra-index-url https://download.pytorch.org/whl/cpu

# Web Framework & Custom Components
streamlit==1.62.0
streamlit-drawable-canvas

# Data Handling & Analytics
pandas
numpy
plotly

# Machine Learning & AI
scikit-learn==1.9.1
joblib
catboost==1.2.10
keras==3.15.1
tensorflow==2.21.0
torch==2.5.1
torchvision==0.20.1

# Image & Visual Processing
pillow
opencv-python-headless==4.10.0.84

# Natural Language Processing
nltk

# Dataset Integration
kaggle

